.banner-inicio {
  background: url("../images/pexels-jose-acevedo-home.jpg") center center/cover
    no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.banner-costarica {
  background: url("../images/cosmic-timetraveler-LgrGHYZzBSk-unsplash.jpg")
    center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.banner-actividades {
  background: url("../images/pexels-must-bee-kayak.jpg") center center/cover
    no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.banner-servicios {
  background: url("../images/pexels-dziana-hasanbekava-5589439.jpg") center
    center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.bann-container > h1 {
  color: white;
  font-size: 7rem;
  margin-top: -10rem;
}

.bann-container > p {
  color: white;
  font-size: 2.5rem;
  margin-top: 0.8rem;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .bann-container > h1 {
    font-size: 5rem;
    margin-top: -15rem;
  }
}

@media screen and (max-width: 768px) {
  .bann-container > h1 {
    font-size: 4rem;
    margin-top: -10rem;
  }

  .bann-container > p {
    font-size: 1.6rem;
  }
}
