.footer {
  background-color: #eaf0e1;
  color: #748859;
  padding-top: 3rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.foot-list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1.5rem;
  list-style: none;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  font-size: 1.3rem;
}

.foot-links {
  text-decoration: none;
  color: #6f8b79;
}

.foot-links:hover {
  color: darkgreen;
}

.foot-socials {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1.5rem;
  list-style: none;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  font-size: 2rem;
  color: #6f8b79;
}

.fab:hover {
  color: darkgreen;
  cursor: pointer;
}

.col-sm {
  color: #6f8b79;
  font-size: 1.3rem;
}
